# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Test and coverage
.coverage
htmlcov/
.pytest_cache/

# Migrations (keep __init__.py)
